/* Estilos básicos para o portfólio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.1;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 40px 20px;
    margin: 20px 0;
}

#sobre .sobre-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-aluno {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.texto-sobre p {
    font-size: 18px;
    color: #555;
}

#projetos .projetos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projeto {
    color: white;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.projeto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.projeto h3 {
    font-size: 20px;
    margin-top: 15px;
}

.projeto p {
    font-size: 16px;
    margin: 10px 0;
}

.projeto .link-projeto {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.projeto .link-projeto:hover {
    text-decoration: underline;
}

#contato form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
}

#contato input, #contato textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
}

#contato button {
    padding: 10px;
    background-color: #333;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contato button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #252525;
    color: #696060;
}
